<!--CALENDAR_LIST_ENTRY_START//-->

	<div class="cmCalListingEntry">
  	<div class="cmCalListingDetail">
         [CALENDAR_LINK]<a href="{CALENDAR_LINK}">[/CALENDAR_LINK]{FORMAT_DATE:l}<br />[CALENDAR_DATE]{CALENDAR_DATE}[/CALENDAR_DATE][CALENDAR_LINK]</a>[/CALENDAR_LINK]     
      [CALENDAR_TITLE]<h2>[LANG_TITLE]{LANG_TITLE}: [/LANG_TITLE]{CALENDAR_TITLE}</h2>[/CALENDAR_TITLE]
    	[CALENDAR_TIME][LANG_TIME]{LANG_TIME}: [/LANG_TIME]{CALENDAR_TIME}[/CALENDAR_TIME][CALENDAR_SPAN] - {CALENDAR_SPAN}[/CALENDAR_SPAN]
    	[CALENDAR_LOCATION]<br />[LANG_LOCATION]{LANG_LOCATION}: [/LANG_LOCATION]{CALENDAR_LOCATION}[/CALENDAR_LOCATION]
    	[CALENDAR_TEASER]<br />[LANG_TEASER]{LANG_TEASER}: [/LANG_TEASER]{CALENDAR_TEASER}[/CALENDAR_TEASER]
    </div>
	</div>
	
<!--CALENDAR_LIST_ENTRY_END//-->

<!--CALENDAR_LIST_ENTRY_SPACE_START//-->

	<!-- space between CALENDAR items -->
	<div class="cmCalListingSpace"></div>
	
<!--CALENDAR_LIST_ENTRY_SPACE_END//-->

<!--CALENDAR_LIST_TOP_START//-->

  <div class="cmCalListing">

[CALENDAR_ENTRIES]{CALENDAR_ENTRIES}[/CALENDAR_ENTRIES]

<!--CALENDAR_LIST_TOP_END//-->

<!--CALENDAR_LIST_BOTTOM_START//-->

  </div><div style="clear:both;"></div>

<!--CALENDAR_LIST_BOTTOM_END//-->