<!-- CSS:
.divRechtsAussen {
	float: right;
	border-left: 1px solid gray;
	padding-left: 10px;		   
		}

-->
<div class="divRechtsAussen" id="{CPID}">
[TITLE]<h3 class="test">{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[HTML]{HTML}[/HTML]
</div>
