<!-- CSS:
  .white_on_green {
   background-color: #20A060;
    color: white;
  }

-->

[TITLE]<h3 class="white_on_green">{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TEXT]{TEXT}[/TEXT]