<div class="wysiwygBlackBorder">
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TEXT]{TEXT}[/TEXT]
<div style="clear:both"></div></div>

<!-- CSS: 
.wysiwygBlackBorder {
	padding: 10px;
	border: 3px ridge black;
	margin-top: 10px;
}
-->
