<!-- CSS:
  .black_on_yellow {
   background-color: #ff9423;
    color: black;
  }

-->

[TITLE]<h3 class="black_on_yellow">{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TEXT]{TEXT}[/TEXT]