<!--LINKLIST_START//-->
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[LINKLIST]<div class="linklist" id="linklist{ID}">
{LINKLIST}
</div>[/LINKLIST]
<!--LINKLIST_END//-->

<!--LINKLIST_ENTRY_START//-->[LINK]<p><strong><a href="{LINK}"{TARGET}>{LINKNAME}</a></strong></p>[/LINK]<!--LINKLIST_ENTRY_END//-->

<!--LINKLIST_SPACE_START//-->
<!--LINKLIST_SPACE_END//-->